In [87]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import seaborn as sns

In [88]:
df=pd.read_csv("multilinearregression.csv",sep=";")

In [89]:
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [90]:
df.head()

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000

In [91]:
reg=linear_model.LinearRegression()
reg.fit(df[['alan','odasayisi','binayasi']],df['fiyat'])

LinearRegression()

In [92]:
reg.predict([[230,4,10]])

C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619])

In [93]:
reg.predict([[230,6,0]])

C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([586097.7833456])

In [94]:
reg.predict([[355,3,20]])

C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([616657.45791365])

In [95]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [96]:
reg.intercept_

262365.1503032055

In [97]:
a=reg.intercept_
b1=reg.coef_[0]
b2=reg.coef_[1]
b3=reg.coef_[2]

x1=230
x2=4
x3=10

y=a+b1*x1+b2*x2+b3*x3

In [98]:
y

530243.2928461881

In [99]:
df.info

<bound method DataFrame.info of    alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000>

In [100]:
df.describe()

             alan  odasayisi   binayasi          fiyat
count    8.000000   8.000000   8.000000       8.000000
mean   302.500000   4.250000   9.125000  610125.000000
std     73.920807   1.035098   5.841661   79982.922284
min    180.000000   3.000000   0.000000  508000.000000
25%    251.250000   3.750000   7.250000  538500.000000
50%    327.500000   4.000000  10.000000  630000.000000
75%    347.500000   5.000000  11.000000  657500.000000
max    400.000000   6.000000  18.000000  725000.000000

In [101]:
df.columns

Index(['alan', 'odasayisi', 'binayasi', 'fiyat'], dtype='object')

In [102]:
sns.pairplot(df)

In [103]:
sns.distplot(df['fiyat'])

C:\Users\dell\anaconda3\lib\site-packages\seaborn\distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

In [83]:
sns.heatmap(df.corr())